body{
    
    background: url(4k\ Ultra\ Hd\ Iphone\ Xr\ Wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: op;
    animation-duration: 2s;
    

    
}
@keyframes op {
    from{
        opacity: 0;
    }

}

p{
    text-align: center;
    color: grey;
    font-size: 1.2em;
    margin: 0 20px;


}

img{
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid transparent;
    
    box-shadow: 4px 5px 20px black;
    


}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-items: center;
    position:relative;
    bottom: 25px;
    top: 20px;
    padding: 55px;
    border-radius: 15px;
    box-shadow: 4px 5px 30px black;
    margin: 25px;



}
.container .link{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.container .lien{
    background:transparent;
    width: 200px;
    height: 50px;
    font-size: 1.4em;
    font-style: oblique;
    overflow: hidden;
    color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 4px 20px black;
    transition: .3s;
    
}
.container .lien i{
    margin: 10px;
}
.container a{
    text-decoration: none;

}
.container .link .lien:hover, .container .link .lien :active{
    transform: scale(1.1);

}


